$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);
$color-neutral-dark: hsl(234, 12%, 34%);
$color-neutral-gray: hsl(229, 6%, 66%);
$color-neutral-white: hsl(0, 0%, 98%);
$shadow: 0 15px 30px -11px rgba(131, 166, 210, .5);

$color-title: $color-neutral-dark;
$color-text: $color-neutral-gray;
$color-bg: $color-neutral-white;
